.footer {
  background-color: var(--dark-color);
  padding: 120px 0;
  &__container {
    @include flex-all-sb;
  }
  @include tablet {
    padding: 60px 0;
  }
  @include small-tablet {
    padding: 40px 0;
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__phone {
      order: 2;
    }
    &__policy {
      order: 3;
    }
  }
  @include mobile {
    padding: 20px 0;
  }
}
