<section class="ads">
  <div class="container ads__container">
    <h2 class="ads__title">Объявления</h2>
    <div class="ads__wrapper">
      <div class="ads-item">
        <div class="ads-item__left">
          <a class="ads-item__link-img" href="advert.html">
            <picture>
              <source srcset="img/content-1.avif" type="image/avif">
              <source srcset="img/content-1.webp" type="image/webp">
              <img loading="lazy" src="img/content-1.jpg" class="image" width="326" height="244"
                alt="Фотография объявления">
            </picture>
          </a>
        </div>
        <div class="ads-item__main">
          <a class="ads-item__name" href="advert.html">Коммерческая недвижимость в аренду</a>
          <span class="ads-item__street">ул. Романа Шухевича, дом 4</span>
          <div class="ads-item__date">
            Оболонь
            <time class="ads-item__time" datetime="2022-09-12">12.09.2021</time>
          </div>
        </div>
        <a class="btn centered ads-item__link" href="advert.html">Подробнее</a>
      </div>
      <div class="ads-item">
        <div class="ads-item__left">
          <a class="ads-item__link-img" href="advert.html">
            <picture>
              <source srcset="img/content-2.avif" type="image/avif">
              <source srcset="img/content-2.webp" type="image/webp">
              <img loading="lazy" src="img/content-2.jpg" class="image" width="326" height="244"
                alt="Фотография объявления">
            </picture>
          </a>
        </div>
        <div class="ads-item__main">
          <a class="ads-item__name" href="advert.html">Коммерческая недвижимость в аренду</a>
          <span class="ads-item__street">ул. Романа Шухевича, дом 4</span>
          <div class="ads-item__date">
            Оболонь
            <time class="ads-item__time" datetime="2022-09-12">12.09.2021</time>
          </div>
        </div>
        <a class="btn centered ads-item__link" href="advert.html">Подробнее</a>
      </div>
      <div class="ads-item">
        <div class="ads-item__left">
          <a class="ads-item__link-img" href="advert.html">
            <picture>
              <source srcset="img/content-3.avif" type="image/avif">
              <source srcset="img/content-3.webp" type="image/webp">
              <img loading="lazy" src="img/content-3.jpg" class="image" width="326" height="244"
                alt="Фотография объявления">
            </picture>
          </a>
        </div>
        <div class="ads-item__main">
          <a class="ads-item__name" href="advert.html">Коммерческая недвижимость в аренду</a>
          <span class="ads-item__street">ул. Романа Шухевича, дом 4</span>
          <div class="ads-item__date">
            Оболонь
            <time class="ads-item__time" datetime="2022-09-12">12.09.2021</time>
          </div>
        </div>
        <a class="btn centered ads-item__link" href="advert.html">Подробнее</a>
      </div>
      <div class="ads-item">
        <div class="ads-item__left">
          <a class="ads-item__link-img" href="advert.html">
            <picture>
              <source srcset="img/content-4.avif" type="image/avif">
              <source srcset="img/content-4.webp" type="image/webp">
              <img loading="lazy" src="img/content-4.jpg" class="image" width="326" height="244"
                alt="Фотография объявления">
            </picture>
          </a>
        </div>
        <div class="ads-item__main">
          <a class="ads-item__name" href="advert.html">Коммерческая недвижимость в аренду</a>
          <span class="ads-item__street">ул. Романа Шухевича, дом 4</span>
          <div class="ads-item__date">
            Оболонь
            <time class="ads-item__time" datetime="2022-09-12">12.09.2021</time>
          </div>
        </div>
        <a class="btn centered ads-item__link" href="advert.html">Подробнее</a>
      </div>
      <div class="ads-item">
        <div class="ads-item__left">
          <a class="ads-item__link-img" href="advert.html">
            <picture>
              <source srcset="img/content-5.avif" type="image/avif">
              <source srcset="img/content-5.webp" type="image/webp">
              <img loading="lazy" src="img/content-5.jpg" class="image" width="326" height="244"
                alt="Фотография объявления">
            </picture>
          </a>
        </div>
        <div class="ads-item__main">
          <a class="ads-item__name" href="advert.html">Коммерческая недвижимость в аренду</a>
          <span class="ads-item__street">ул. Романа Шухевича, дом 4</span>
          <div class="ads-item__date">
            Оболонь
            <time class="ads-item__time" datetime="2022-09-12">12.09.2021</time>
          </div>
        </div>
        <a class="btn centered ads-item__link" href="advert.html">Подробнее</a>
      </div>
      <div class="ads-item">
        <div class="ads-item__left">
          <a class="ads-item__link-img" href="advert.html">
            <picture>
              <source srcset="img/content-6.avif" type="image/avif">
              <source srcset="img/content-6.webp" type="image/webp">
              <img loading="lazy" src="img/content-6.jpg" class="image" width="326" height="244"
                alt="Фотография объявления">
            </picture>
          </a>
        </div>
        <div class="ads-item__main">
          <a class="ads-item__name" href="advert.html">Коммерческая недвижимость в аренду</a>
          <span class="ads-item__street">ул. Романа Шухевича, дом 4</span>
          <div class="ads-item__date">
            Оболонь
            <time class="ads-item__time" datetime="2022-09-12">12.09.2021</time>
          </div>
        </div>
        <a class="btn centered ads-item__link" href="advert.html">Подробнее</a>
      </div>
    </div>
    <ul class="list-reset pagination-list">
      <li class="pagination-list__item">
        <a class="pagination-list__link pagination-list__link--active" href="#">1</a>
      </li>
      <li class="pagination-list__item">
        <a class="pagination-list__link" href="#">2</a>
      </li>
      <li class="pagination-list__item">
        <a class="pagination-list__link" href="#">3</a>
      </li>
      <li class="pagination-list__item">
        <a class="pagination-list__link" href="#">4</a>
      </li>
      <li class="pagination-list__item">
        <a class="pagination-list__link" href="#">5</a>
      </li>
      <li class="pagination-list__item">
        <a class="pagination-list__link" href="#">6</a>
      </li>
      <li class="pagination-list__item">
        <a class="pagination-list__link" href="#">7</a>
      </li>
      <li class="pagination-list__item">
        <span class="pagination-list__link">...</span>
      </li>
    </ul>
  </div>
</section>
